<!DOCTYPE html>

<head>
  <title>404-ERROR</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{!-- <h1>{{title} }</h1><span>coming from our new "{ { bars } }" option</span> --}}
    {{>header}}
    <p>{{errorMessage}}</p>
  </div>
  {{>footer}}
</body>

</html>